apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-app-preprod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-world-app-preprod
  template:
    metadata:
      labels:
        app: hello-world-app-preprod
    spec:
      imagePullSecrets:
        - name: my-registry-key
      containers:
        - name: hello-world-app-preprod
          image: us-central1-docker.pkg.dev/my-project-433308/repo-trial/hello-world-app:preprod-latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "500m"
              memory: "2Gi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "500m"
              memory: "2Gi"
              ephemeral-storage: "1Gi"
